[Desktop Entry]
Name=Caelaris System Update
Comment=Sync Caelaris Linux with GitHub & Update System Packages
Exec=caelaris-update
Icon=system-software-update
Terminal=true
Type=Application
Categories=System;Settings;PackageManager;
StartupNotify=true
Keywords=update;upgrade;sync;github;caelaris;
