[Desktop Entry]
Name=Caelaris Defender
GenericName=Security & Threat Shield
Comment=Privacy-preserving in-memory malware, virus, and rootkit scanner
Exec=/usr/bin/caelaris-defender
Icon=caelaris-defender
Terminal=false
Type=Application
Categories=System;Security;Settings;
StartupNotify=true
Keywords=antivirus;virus;malware;defender;scanner;security;privacy;protect;
