[Desktop Entry]
Type=Application
Version=1.0
Name=Install Caelaris Linux
GenericName=System Installer
Comment=Install Caelaris Linux permanently to your disk
Exec=konsole --noclose -e /usr/bin/caelaris-installer
Icon=system-software-install
Terminal=false
StartupNotify=true
Categories=System;
