[Desktop Entry]
Type=Application
Version=1.0
Name=Install Caelaris Linux
GenericName=System Installer
Comment=Install Caelaris Linux permanently to your disk
Exec=/usr/bin/caelaris-installer
Icon=caelaris-installer
Terminal=false
StartupNotify=true
Categories=System;

