[SddmGreeterTheme]
Name=Caelaris Modern
Description=Modern frosted-glass login screen for Caelaris Linux
Author=Caelaris Team
Type=sddm-theme
Version=1.0
Website=https://github.com/kurokai-kun/caelaris-linux
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
