[Desktop Entry]
Type=Application
Version=1.0
Name=Switch to GNOME Desktop
GenericName=Desktop Environment Switcher
Comment=Switch live session to GNOME Desktop
Exec=sudo /usr/bin/caelaris-switch-desktop gnome
Icon=preferences-desktop-display
Terminal=false
StartupNotify=true
Categories=System;Settings;
