[Unit]
Description=Caelaris Clean Shutdown & Mount Release
DefaultDependencies=no
After=systemd-user-sessions.service
Before=umount.target swap.target shutdown.target reboot.target poweroff.target halt.target

[Service]
Type=oneshot
ExecStart=/usr/bin/caelaris-shutdown-clean
TimeoutSec=10

[Install]
WantedBy=shutdown.target reboot.target poweroff.target halt.target
