[Unit]
Description=Caelaris Linux Live User Setup
After=systemd-sysusers.service systemd-user-sessions.service
Before=display-manager.service sddm.service gdm.service

[Service]
Type=oneshot
ExecStart=/usr/bin/caelaris-live-setup
RemainAfterExit=yes

[Install]
WantedBy=graphical.target multi-user.target
