[Unit]
Description=Caelaris Clean Shutdown & Mount Release
DefaultDependencies=no
After=basic.target
Before=umount.target swap.target
Conflicts=shutdown.target reboot.target poweroff.target halt.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/usr/bin/caelaris-shutdown-clean
TimeoutStopSec=10

[Install]
WantedBy=basic.target
