[Unit]
Description=Valve Device Memory Cgroups Booster (Natalie Vock VRAM Management)
Documentation=https://gitlab.steamos.cloud/holo/dmemcg-booster
After=local-fs.target sys-fs-cgroup.mount
Before=caelaris-vram-booster.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/dmemcg-booster --daemon
Restart=always
RestartSec=3
User=root
Nice=-10

[Install]
WantedBy=multi-user.target
