[Unit]
Description=Initialize Pacman keyring
Documentation=man:pacman-key(8)
DefaultDependencies=no
After=systemd-random-seed.service local-fs.target
Before=multi-user.target
ConditionPathExists=!/etc/pacman.d/gnupg/pubring.gpg

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c "pacman-key --init && pacman-key --populate archlinux || true"

[Install]
WantedBy=multi-user.target
