# Caelaris Linux Cloud-Init Configuration
datasource_list: [ NoCloud, ConfigDrive, OpenStack, Ec2, Azure, GCE, Hetzner ]

system_info:
  default_user:
    name: caelaris
    lock_passwd: false
    gecos: Caelaris Cloud User
    groups: [ wheel, docker ]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash

cloud_init_modules:
  - migrator
  - seed_random
  - bootcmd
  - write-files
  - growpart
  - resizefs
  - disk_setup
  - mounts
  - set_hostname
  - update_hostname
  - update_etc_hosts
  - users-groups
  - ssh

cloud_config_modules:
  - ssh-import-id
  - locale
  - set-passwords
  - package_update_upgrade_install
  - timezone
  - puppet
  - chef
  - salt-minion
  - mcollective
  - disable-ec2-metadata
  - runcmd

cloud_final_modules:
  - rightscale_userdata
  - scripts-per-once
  - scripts-per-boot
  - scripts-per-instance
  - scripts-user
  - ssh-authkey-fingerprints
  - keys-to-console
  - phone-home
  - final-message
  - power-state-change
